/* .nav-item {
    position: relative;
    float: right;
  } */


  /* .modal-title {
    text-align: left;
  } */
  
  /* .text-right {
    text-align: right;
  } */
  
  /* .text-center {
    text-align: center;
  } */


  /* .modal
  {
      opacity:0.5 !important;
  } */